{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/bootstrap/css/login_style.css">


    <div id="login">
    <h1 id="log">Войти в ESBank</h1>
        {% if message %}
            <label style="color: red">
            {{ message }}
            </label>
        {% endif %}
        <form class="login_form" method="post" action="/basicview/login/">
            {% csrf_token %}
                <p><span class="fontawesome-user"></span> <input type="text" name="username" value="Логин"
                                                                 onBlur="if(this.value == '') this.value = 'Логин'"
                                                                 onFocus="if(this.value == 'Логин') this.value = ''"
                                                                 required/></p>
                <br/>
                <p><span class="fontawesome-lock"></span><input type="password" name="password" value="Пароль"
                                                                onBlur="if(this.value == '') this.value = 'Пароль'"
                                                                onFocus="if(this.value == 'Пароль') this.value = ''"
                                                                required/></p>
            <div class="links"><a href="/basicview/register/">Регистрация |</a>
            <a href="#">Забыли пароль?</a></div>
                <br/>

            <button type="submit" class="btn loginbtn"> Войти </button>
        </form>
    </div>

{% endblock content %}