{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Операции</h1>
    <ul>
        <li> <a href="/basicview/phone_operation/">Оплатить мобильный телефон</a> | <a href="/basicview/export_phone/">Сделать выписку</a></li>
        <li><a href="/basicview/internet_pay/">Оплатить Интернет</a> | <a href="/basicview/export_internet/">Сделать выписку</a> </li>
        <li><a href="/basicview/flat_pay/">Оплатить услуги ЖКХ</a> | <a href="/basicview/export_flatpay/">Сделать выписку</a> </li>
    </ul>



<p style="display: block"><a href="/basicview/">На главную</a> </p>
{% endblock content %}