{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://127.0.0.1:8000/static/bootstrap/js/bootstrap.js"></script>

    <style>
        input#id_FullName {
            margin: 0px 20px 0px 99px;
        }

        input#id_Address {
            margin: 0 50px 0px 54px;
        }

        input#id_Phone {
            margin: 0px 20px 0px 17px;
        }

        form {
            text-align: center;
        }

        label[for=id_Address] {
            padding-right: 20px;
            margin: 0px 20px 0px 30px;
        }

        label[for=id_TypeId] {
            padding-right: 75px;
            margin: 0px 20px 0px 30px;;
        }

        label[for=id_CurrencyId] {
            padding-right: 101px;
            margin: 0px 20px 0px 30px;
        }

        select#id_CurrencyId {
            position: relative;
            left: -11%;
        }

        select#id_EndContractDate_month,
        select#id_EndContractDate_day,
        select#id_EndContractDate_year {
            position: relative;
            left: 3%;
        }

    </style>

    <h1>Личный профиль: {{ profile.FullName }}</h1>

    <div class=" col-md-9 col-lg-9 " style="">
        <table class="table table-user-information">
            <tbody>
            <tr>
                <td>ФИО</td>
                <td>{{ profile.FullName }}</td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td>{{ profile.Address }}</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ profile.Phone }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>


            </tbody>
        </table>
        <div align="left">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                Редактировать профиль
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                Добавить банковский продукт
            </button>
        </div>
    </div>



    <div align="right">
        <h2>Список продуктов ESBank:</h2>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Посмотреть продукты
        </button>

        <p>Текущая дата: {{ date }}</p>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Список продуктов ESBank</h4>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <tr>
                            <td>
                                Продукт
                            </td>
                            <td>
                                Баланс
                            </td>
                            <td>
                                Статус
                            </td>
                            <td>
                            </td>
                            <td></td>
                        </tr>


                        {% for prod in products %}
                            <tr>
                                <td>{{ prod.TypeId.TypeName }}</td>
                                <td>{{ prod.Balance }} {{ prod.CurrencyId.CurrencyCode }}</td>
                                {% if prod.StatusId.StatusName == "Активирован" %}
                                    <td> Активен до: {{ prod.EndContractDate }} </td>
                                {% else %}
                                    <td>{{ prod.StatusId.StatusName }}</td>
                                {% endif %}
                                <td>
                                    <form method="post" action="/basicview/export_product/">
                                        <button type="submit" class="btn btn-default" name="num" value="{{ prod.id }}">
                                            Получить выписку
                                        </button>
                                    </form>
                                </td>


                                {% if prod.StatusId.StatusName == "Активирован" %}
                                    <td>
                                        <form method="post" action="/basicview/stop/">
                                            <button type="submit" class="btn btn-default" name="num"
                                                    value="{{ prod.id }}">
                                                Приостновить
                                            </button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>
                                        <form method="post" action="/basicview/active/">
                                            <button type="submit" class="btn btn-default" name="num"
                                                    value="{{ prod.id }}">
                                                Активировать
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}


                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <div class="modal-footer" align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Редактировать профиль</h4>
                </div>
                <div class="modal-body">

                    <form style="margin: 10px" id="user_form" method="post" action="/basicview/edit/"
                          enctype="multipart/form-data" class="main">

                        {% csrf_token %}
                        {{ form.as_p }}
                        <div align="center">
                            <div align="center"><input type="submit" name="submit" value="Сохранить"
                                                       class="btn btn-default"/>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавить продукт ESBank</h4>
                </div>
                <div class="modal-body">

                    <form style="margin: 10px" id="user_form" method="post" action="/basicview/create_product/"
                          enctype="multipart/form-data" class="main">

                        {% csrf_token %}
                        {{ product_form.as_p }}
                        <div align="center">
                            <div align="center"><input type="submit" name="submit" value="Создать"
                                                       class="btn btn-default"/>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}


