{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Личный профиль{{ profile.FullName }}</h1>
    <ul>
    <li> Имя: {{ profile.FullName }}</li>
    <li>Адрес: {{ profile.Address }} </li>
    <li>Телефон: {{ profile.Phone }} </li>
    </ul>


    <h2>Список продуктов ESBank:</h2>
    <ul>

        {% for prod in products %}
            <li>{{ prod.TypeId.TypeName }} : {{ prod.Balance }}</li>
    {% endfor %}
    </ul>

<p><a href="/basicview/create_product/"> Добавить банковский продукт</a></p>

{% endblock content %}