{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/bootstrap/css/login_style.css">
    <style>
    html{
        overflow-y: scroll;
    }
    </style>
    <div id="register">


        <h1 id="title_for_reg">Добро пожаловать в ESBank</h1>
        {% if message %}
            <label class="message">
                {{ message }}
            </label>
        {% endif %}
        {% if registered %}
            <div></div><strong>Спасибо за регистрацию!</strong></div>
            <div><a href="/basicview/">Вернуться на главную</a><br/></div>
        {% else %}

            <form id="register_form" method="post" action="/basicview/register/"
                  enctype="multipart/form-data">

                {% csrf_token %}
                {% for fields in user_form %}
                    {% if fields.name != "confirm_password" %}
                        <p><span class="fontawesome reg" id="field">{{ fields.label }}</span> {{ fields }}</p>
                    {% else %}
                        <p><span class="fontawesome reg" id="field"
                                 style="padding-top: 10px">{{ fields.label }}</span> {{ fields }}</p>
                    {% endif %}

                {% endfor %}
                {% for fields in profile_form %}
                    <p><span class="fontawesome reg" id="field">  {{ fields.label }}</span> {{ fields }}</p>
                {% endfor %}
                <button type="submit" class="btn loginbtn"> Зарегистрироваться</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}