{% extends "base.html" %}
{% load static %}


{% block content %}
    <style>
        body {
            background-image: none;
            background-color: #484848;
            overflow: auto;
        }

        .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

        }

        .line {
            padding-left: 50px;
        }

        ol,
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-table;
            color: black;
            padding-left: 20px;
        }

        #chartjs-legend li span {
            padding: 6px 20px;
            border-radius: 13px;
            color: white;
        }
    </style>
    <div class="line">
        <h3 style="color: rgba(209, 212, 211, 0.59)">Перевод средств за 2017 год</h3>
        <div id="chartjs-legend" class="noselect"></div>
        <canvas id="c" width="1000" height="500" style="background-color: rgba(151, 152, 126, 0.01)"></canvas>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("c").getContext("2d");
        var data = {
            labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            datasets: [{
                label: "BYN",
                fillColor: "rgba(240, 128, 128,0.1)",
                strokeColor: "rgba(240, 128, 128,0.9)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "rgba(240, 128, 128,0.9)",
                pointHighlightFill: "#fff",
                spanGaps: false,
                LabelFontColor: "red",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ data }}
            },
                {
                    label: "USD",
                    fillColor: "rgba(32, 178, 170,0.1)",
                    strokeColor: "rgba(32, 178, 170,0.9)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "rgba(32, 178, 170,0.9)",
                    pointHighlightFill: "#fff"
                    ,
                    LabelFontColor: "red",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: {{ dollar_date }}
                }]

        };
        var options = {
            scaleFontColor: "black",
            scaleFontWeight: "bold",
            animation: true,
            maintainAspectRatio: true,
            animationEasing: "easeOutBack",
            animationSteps: 60,
            scaleShowLabels: true,
            legendCallback: function (chart) {
                console.log(chart.data);
                var text = [];
                text.push('<ul>');
                for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
                    text.push('<li>');
                    text.push('<span style="background-color:' + chart.data.datasets[0].backgroundColor[i] + '">' + chart.data.datasets[0].data[i] + '</span>');
                    if (chart.data.labels[i]) {
                        text.push(chart.data.labels[i]);
                    }
                    text.push('</li>');
                }
                text.push('</ul>');
                return text.join("");
            }


        };
        Chart.defaults.global.defaultFontColor = '#FFF';

        var MyNewChart = new Chart(ctx).Line(data, options);
        document.getElementById("chartjs-legend").innerHTML = MyNewChart.generateLegend();
    </script>
    <div class="line">
        <h3 style="color: rgba(209, 212, 211, 0.59)">Услуги ESBank за 2017 год</h3>
        <canvas id="myChart" width="400" height="200" style="background-color: rgba(151, 152, 126, 0.01)"></canvas>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.bundle.min.js"></script>

    <script>
        Chart.defaults.doughnutLabels = Chart.helpers.clone(Chart.defaults.doughnut);

        var helpers = Chart.helpers;
        var defaults = Chart.defaults;

        Chart.controllers.doughnutLabels = Chart.controllers.doughnut.extend({
            updateElement: function (arc, index, reset) {
                var _this = this;
                var chart = _this.chart,
                        chartArea = chart.chartArea,
                        opts = chart.options,
                        animationOpts = opts.animation,
                        arcOpts = opts.elements.arc,
                        centerX = (chartArea.left + chartArea.right) / 2,
                        centerY = (chartArea.top + chartArea.bottom) / 2,
                        startAngle = opts.rotation, // non reset case handled later
                        endAngle = opts.rotation, // non reset case handled later
                        dataset = _this.getDataset(),
                        circumference = reset && animationOpts.animateRotate ? 0 : arc.hidden ? 0 : _this.calculateCircumference(dataset.data[index]) * (opts.circumference / (2.0 * Math.PI)),
                        innerRadius = reset && animationOpts.animateScale ? 0 : _this.innerRadius,
                        outerRadius = reset && animationOpts.animateScale ? 0 : _this.outerRadius,
                        custom = arc.custom || {},
                        valueAtIndexOrDefault = helpers.getValueAtIndexOrDefault;

                helpers.extend(arc, {
                    // Utility
                    _datasetIndex: _this.index,
                    _index: index,

                    // Desired view properties
                    _model: {
                        x: centerX + chart.offsetX,
                        y: centerY + chart.offsetY,
                        startAngle: startAngle,
                        endAngle: endAngle,
                        circumference: circumference,
                        outerRadius: outerRadius - 10,
                        innerRadius: innerRadius - 10,
                        label: valueAtIndexOrDefault(dataset.label, index, chart.data.labels[index])
                    },

                    draw: function () {
                        var ctx = this._chart.ctx,
                                vm = this._view,
                                sA = vm.startAngle,
                                eA = vm.endAngle,
                                opts = this._chart.config.options;

                        var labelPos = this.tooltipPosition();
                        var segmentLabel = vm.circumference / opts.circumference * 100;

                        ctx.beginPath();

                        ctx.arc(vm.x, vm.y, vm.outerRadius, sA, eA);
                        ctx.arc(vm.x, vm.y, vm.innerRadius, eA, sA, true);

                        ctx.closePath();
                        ctx.strokeStyle = vm.borderColor;
                        ctx.lineWidth = vm.borderWidth;

                        ctx.fillStyle = vm.backgroundColor;

                        ctx.fill();
                        ctx.lineJoin = 'bevel';

                        if (vm.borderWidth) {
                            ctx.stroke();
                        }

                        if (vm.circumference > 0.15) { // Trying to hide label when it doesn't fit in segment
                            ctx.beginPath();
                            ctx.font = helpers.fontString(opts.defaultFontSize, opts.defaultFontStyle, opts.defaultFontFamily);
                            ctx.fillStyle = "#fff";
                            ctx.textBaseline = "top";
                            ctx.textAlign = "center";

                            // Round percentage in a way that it always adds up to 100%
                            ctx.fillText(segmentLabel.toFixed(0) + "%", labelPos.x, labelPos.y);
                        }
                    }
                });

                var model = arc._model;
                model.backgroundColor = custom.backgroundColor ? custom.backgroundColor : valueAtIndexOrDefault(dataset.backgroundColor, index, arcOpts.backgroundColor);
                model.hoverBackgroundColor = custom.hoverBackgroundColor ? custom.hoverBackgroundColor : valueAtIndexOrDefault(dataset.hoverBackgroundColor, index, arcOpts.hoverBackgroundColor);
                model.borderWidth = custom.borderWidth ? custom.borderWidth : valueAtIndexOrDefault(dataset.borderWidth, index, arcOpts.borderWidth);
                model.borderColor = custom.borderColor ? custom.borderColor : valueAtIndexOrDefault(dataset.borderColor, index, arcOpts.borderColor);

                // Set correct angles if not resetting
                if (!reset || !animationOpts.animateRotate) {
                    if (index === 0) {
                        model.startAngle = opts.rotation;
                    } else {
                        model.startAngle = _this.getMeta().data[index - 1]._model.endAngle;
                    }

                    model.endAngle = model.startAngle + model.circumference;
                }

                arc.pivot();
            }
        });

        var config = {
            type: 'doughnutLabels',
            data: {
                datasets: [{
                    data: {{ pays_data }},
                    backgroundColor: [
                        "#F7464A",
                        "#46BFBD",
                        "#FDB45C",
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Телефон",
                    "Интернет",
                    "ЖКХ",
                ]
            },
            options: {
                legend: {
                    position: 'top',
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };
        Chart.defaults.global.defaultFontColor = '#FFF';
        var ctx = document.getElementById("myChart").getContext("2d");
        new Chart(ctx, config);

    </script>
{% endblock %}