{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/bootstrap/css/login_style.css">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://127.0.0.1:8000/static/bootstrap/js/bootstrap.js"></script>
    <div id="new_password">
        <h1 id="title">Введите новый пароль:</h1>
        {% if message %}
            <div align="center">
                <label style="color: red">
                    {{ message }}
                </label>
            </div>
        {% endif %}
        <form id="login_form" method="post" action="/basicview/new_password/"
              enctype="multipart/form-data">

            {% csrf_token %}
            {% for fields in form %}
                <p><span class="fontawesome-lock"></span>{{ fields }}</p>
                <br/>
            {% endfor %}
            <button type="submit" class="btn loginbtn"> Сохранить</button>
        </form>
    </div>
{% endblock content %}